@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75,405;1,75,405&family=SUSE:wght@100..800&display=swap');
*{
    max-width: 850px;
    margin: auto;
}
body{
    /* background-image: url("palmi.jpg"); */
    background: #354fa5;
    font-family: 'Roboto', sans-serif;
}

img{
    border-radius: 15px;
    margin: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

/* img:hover{ 
    transform: scale(1.1 , 1.1);
}*/

#header{
    margin: 10px;
    background: rgb(104, 146, 236);
    color: black;
    letter-spacing:  2px;
    border-radius: 5px;
    padding-left: 5px;
}
.article{
    background: rgb(104, 146, 236);
    color: black;
    border-left: 5px solid darkblue;
    border-right: 5px solid darkblue;
    border-radius: 7px;
    padding-left: 5px;
    margin: 10px;
}

#art1{
    font-size: 20px;
}

.footer{
    background: #6eda6a;
    border-left: 5px solid darkgreen;
    border-right: 5px solid darkgreen;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    margin: 10px;
    float:left;
}

#socialnets{
    margin-right: 0;
}
#calling{
    margin-left: 0;
}

a{
    text-decoration: none;
    color: rgb(46, 45, 45);
    transition: all .2s;
}

a:hover{
    font-size: 20px;
    color: rgb(97, 95, 95);
}
a:active{
    font-size: 16px;
}
/* a:visited{ 
    color: rgb(5, 7, 80);
}*/

#nick, #donut, #message, #email1, #name{
    border-radius: 10px;
}

.btn{ 
    border-radius: 10px;
}

#nick, #donut, #message, #email1, #name{
    margin-top: 3px;
}

#donut{
    margin-top: 10px;
}

.exp{
    width: 100%;
}

.exp th {
    text-align: left;
    padding-bottom: 10px;
    padding-top: 20px;
}

.exp td {
    text-align: left;
    padding-bottom: 5px;
}

.exp tr:nth-child(odd) td:nth-child(1):hover{
    background: green;
    color:white;
}

.exp tr:nth-child(odd) td:nth-child(1):hover{
    background: green;
    color:white;
}

.olimps{
    margin: 0;
    margin-top: 20px;
    padding-left: 0;
}

.olimps ol{
    margin-top: 20px;
    padding-left: 0;
}


.olimps ol li{
    margin-bottom: 5px;
    font-size: 18px;
}

@media (max-width: 500px){
    .container{
        font-size: 14px;
        text-align: center;
        padding: 10px;
    }

    #art1{
        font-size: 16px;
    }

    .footer{
        background: #6eda6a;
        border-left: 5px solid darkgreen;
        border-right: 5px solid darkgreen;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 7px;
        margin: 10px;
        float: none;
    }
    img{
        width: 150px;
        border-radius: 15px;
        margin: 10px;
        box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    }
}